/* Animated Background */
.stApp > header {
    background-color: transparent;
}

.stApp {
    background: linear-gradient(45deg, #76b6c4 10%, #7fcdff 45%, #1da2d8 55%, #def3f6 90%);
    animation: my_animation 20s ease infinite;
    background-size: 200% 200%;
    background-attachment: fixed;
}

@keyframes my_animation {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}




 
